*.o
*.elf
*.hex
*.lst
build-cli/
*.geany
.cproject
.project
.settings/
nbproject/
nbproject/private/
BermudaOS.ico
BermudaOS.rc
BermudaOS.vcxproj
BermudaOS.vcxproj.filters
BermudaOS.vcxproj.user
Debug/
ReadMe.txt
Release/
Resource.h
app/make.exe.stackdump
small.ico
.goutputstream-CJV7EW
.goutputstream-HWGFFW
.goutputstream-T01BFW
make/.goutputstream-13D5E
make/.goutputstream-YDO9EW
tags
lib/*
doc/
autom4te.cache/
.autotools
.cproject
.project
Makefile.in
configure
generate
